<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="{{- .Site.Title -}}">
    <meta property="og:url" content="{{- .Permalink -}}">
    <meta property="og:title" content="{{- .Title -}}">
    <meta property="og:description" content="{{- .Description -}}">

    <meta name="description" content="{{- .Description -}}">
    <title>{{- .Title -}}</title>
    <link rel="canonical" href="{{- .Permalink -}}">

    {{- partial "favicon.html" . }}

    {{- $css := slice }}
    <!-- https://purecss.io/ -->
    {{- $css = $css | append (resources.Get "pure.css") }}
    <!-- main.css -->
    {{- $css = $css | append (resources.Get "main.css") }}
    {{- $css = $css | append (resources.Get "syntax-light.css") }}
    {{- $css = $css | append (resources.Get "syntax-dark.css") }}
    <!-- packing css -->
    {{- $css = $css | resources.Concat "bundle.css" }}
    {{- $css = $css | resources.Minify }}
    <link rel="stylesheet" href="{{- $css.RelPermalink -}}">

    {{- block "css" . }}{{- end }}
</head>

<body>

{{- partial "header.html" . }}

<div id="main">
    {{ block "main" . }}{{ end }}
</div>

{{- partial "footer.html" . }}
    
{{- block "js" . }}{{- end }}
</body>
</html>
